.container{
    height: 100%;
    width: 70%;
    padding: 0 3rem;
    /* position: relative; */
}

.upper{
    /* height: 20%; */
}

.lower{
    height: 75%;
}

.btnContainer{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    /* position: absolute; */
    /* border: 1px solid red; */
}

.btn{
    border: 0.5px solid grey;
    padding: 5px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn:active{
    transform: translateY(1px);
}

.hr{
    margin-top: 20px;
    border: 0.1px solid rgb(231, 230, 230);
}
